form[data-role='json-request-form'], div[data-role='json-request-user-profile']{
	margin:2em auto;
	width:20%;
	border:1px solid #aaa;
	padding:1em 1em;
}
form[data-role='json-request-form'] label{ 
	display:block; font-size:0.9em;
}
form[data-role='json-request-form'] input {
	display:block;
	width:90%;
	padding:0.5em 0.8em;
}
button {
	display:block;
	width:50%;
	padding:0.5em;
	margin:1em auto;
}
div[data-role='json-request-error'] p {
	color:red;
	text-align:center;
}
div[data-role='json-request-user-profile'] img {
	padding:0 1em 4em 0;
	float:left;
}
div[data-role='json-request-user-profile'] span {
	display:block;
}
span[data-role='json-request-preloader']{
	position:absolute;
	z-index:100;
	opacity:0.9;
	top:40px;
	padding:1% 7%;
}
.lock{
	display:none;
}
.open{
	display:block;
}
.alert-error {
	margin:0.5em;
	padding:0.5em;
	background-color:red;
}